.horizontal-line-footer {
  border-style: none;
  background-color: var(--lightGray);
  height: 1px;
  margin-bottom: 22px;
}
p {
  color: var(--lightGray);
}
.source-url-link{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.day-mode-source-link{
  color: var(--darkGray);
  font-weight: 700;
  word-break: break-all;
}
.night-mode-source-link{
  color: var(--lightGray);
  font-weight: 700;
  word-break: break-all;
}