.title-phonetic-play-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.word-title {
  font-size: 40px;
}
.word-phonetic {
  font-size: 24px;
  color: var(--mediumPurple);
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
