.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 18px;
}
.input-container{
    width: 100%;
    max-width: 800px;
    padding: 12px;
    background-color: var(--inputBackground);
    border-radius: 12px;
    border-style: none;
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
}
.search-button{
    position: absolute;
    left: 290px;
    border-style: none;
    height: 40px;
    border-radius: 16px;
    background: none;
}
@media (min-width:768px){
    .search-button{
        position: absolute;
        left: 680px;
}
}
@media (min-width:1024px){
    .search-button{
        position: absolute;
        left: 860px;
}
}
@media (min-width:1536px){
    .search-button{
        position: absolute;
        left: 1120px;
}
}
@media (min-width:1918px){
    .search-button{
        position: absolute;
        left: 1310px;
}
}