.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  position: relative;
}
.input-container-day-mode {
  background-color: var(--inputBackground);
  border-radius: 12px;
  border-style: none;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  outline: none;
}
.input-container-night-mode {
  background-color: var(--darkGray);
  border-radius: 12px;
  border-style: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}
input[type = text] {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}
.search-button {
  position: absolute;
  right: 18px;
  border-style: none;
  height: 40px;
  border-radius: 16px;
  background: none;
}
