.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.font-nightmode-container{
    display: flex;
    gap: 12px;
}
.drop-down{
    position: relative;
}
.night-and-font-family-section{
    cursor: pointer;
}
.drop-down-header{
    cursor: pointer;
}
.change-font-button{
    display: flex;
    gap: 4px;
    margin: auto;
}
.drop-down-container{
    position: absolute;
    width: 80px;
    padding: 4px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}
.drop-down-container-night-mode{
    position: absolute;
    padding: 4px;
    width: 80px;
    top: 100%;
    left: 0;
    right: 0;
    background-color: black;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}
.drop-down-container p:hover{
    background-color: #f0f0f0;
}
.drop-down-container-night-mode p:hover{
    background-color: #f0f0f0;
    color: black;
}
hr{
    height: 4vh;
}


