.day-mode{
   padding: 24px;
   background-color: #FFFFFF;
}
.night-mode{
   padding: 24px;
   background-color: black;
   color: #FFFFFF;
}
.serif{
   font-family: 'PT Serif';
}
.mono{
   font-family: monospace, monospace;
}
