:root {
  --background: #ffffff;
  --inputBackground: #f4f4f4;
  --lightGray: #9b9b9b;
  --darkGray: #585858;
  --lightPurple: #e1cff4;
  --mediumPurple: #9c4be2;
  --black: #2d2d2d;
}

* {
  margin: 0px;
  padding: 0px;
}


/* ---- Breakpoints ----
     'sm': '640px',
      // => @media (min-width: 640px) { ... }
  
      'md': '768px',
      // => @media (min-width: 768px) { ... }
  
      'lg': '1024px',
      // => @media (min-width: 1024px) { ... }
  
      'xl': '1280px',
      // => @media (min-width: 1280px) { ... }
  
      '2xl': '1536px', 
  */
